body {
  background: #29d2b6;                      
  font-family: "Times New Roman", Times, serif;
  margin: 40px;
  
}

h1 {
  color: #fb3a3a;                           
  text-align: center;
  margin-top: 0;                            
}