body {
  background: #0dd4b3;                      
  font-family: "Times New Roman", Times, serif;
  margin: 40px;
  
}

h1 {
  color: #fc6f6f;                           
  text-align: center;
  margin-top: 0;                            
}