body {
  background: #29d2b6;                      
  font-family: "Times New Roman", Times, serif;
  margin: 40px;
  
}

h1 {
  color: #fb3a3a;                           
  text-align: center;
  margin-top: 0;                            
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
    width: 20%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(255, 255, 255); 
    border-radius: 15%;
}
.project img {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid rgb(126, 14, 201); /* You can change the color */
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
  color: purple;
}

.project p {
  text-align: center;
  margin: 15px;
}
